{{ define "title" }}{{ .title }}{{ end}}
{{ define "header" }}<h2>{{ .title }}</h2>{{ end}}
{{ define "content" }}
<p>This is an experiment to build something larger than hello world to see
how it goes.</p>
{{ end }}
{{define "sidebar" }}
<a href="{{ .pages_url }}">pages</a>
{{ end }}
{{define "footer"}}{{ end }}
